body{
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    width: 1440px;
}
div{
    background-color: hsl(0, 0%, 100%);
    width: 20%;
    border-radius: 10px;
    position: relative;
    left: 40%;
    margin-top: 100px;
    padding-bottom: 30px;
    font-family: 'Outfit', sans-serif;
}
.image-qr
{
    width: 90%;
    margin: 10px;
    border-radius: 10px;
}
.intro
{
color: hsl(218, 44%, 22%);
width: 80%;
margin: 10px auto;
}
.para
{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    width: 85%;
    margin: 10px auto 20px;
}